*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
:root{
--blue:rgb(116, 210, 210);
--text:rgba(2, 23, 23, 0.65);
--green:rgb(56, 253, 17);
--greyt:rgb(54, 54, 54,0.8);
}
.navbar{
background-color: rgb(54, 54, 54,0.8);
background-image: url("https://stepik.org/media/attachments/lesson/452681/space.png");
}
h1{
color:var(--green);
right: 100px;
}
.nav > a{
color:var(--green);
text-decoration: none;
}
.nav a:hover{
color:var(--green);
}
#button{
background-color: var(--greyt);
border-color: var(--green);
}
.tile .is-child{
height: 385px;
margin: 0;
border-radius: 50%;
width: 400px;
background-color: rgb(39, 38, 38);
}
#hamburger{
color: var(--green);

}
#hamburger-container{
    top: 10px;
}
#hero-body{
background-image: url("https://stepik.org/media/attachments/lesson/452681/space.png");
}
#profile-bubble{
background-color: rgb(54, 54, 54,0.8);
border-style: solid;
border-color: var(--green);
}

#small-circle{
    height: 50px;
    width: 40px;


}
.rectangle-canvas{
  height:220px;
  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
#rectangle-canvas{


}
  .rectangle{
  height:200px;
  width: 450px;
  background-color: var(--greyt);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  border-style: solid;
  border-color: var(--green);


  }
  /* .message-container{
  height:175px;
  width: 427px;
  background-color: white;
  display: flex;
  border-radius: 17px;
  } */
.planet{
    height:200px;
    width:200px;
    border-radius: 50%;
    position: relative;
    background-color: rgb(101, 71, 185);
    bottom:120px;
    left:450px;
  }
  .r1{
    background-color: #8159ee;
    height:20px;
    width:110px;
    border-radius:10px;
    position: relative;
    top:60px;
    left:85px;
  }
  .r2{
    background-color: #5da4df;
    height: 15px;
    width:90px;
    border-radius:6.5px;
    position: relative;
    top:80px;
    left:108px;
  }
  .r3{
    background-color: #8159ee;
    height:30px;
    width:120px;
    border-radius: 15px;
    position: relative;
    top:78px;
    left:50px;
  }
  .r4{
    background-color: #9b82e1;
    height:22px;
    width:90px;
    border-radius:11px;
    position: relative;
    top:70px;
    left:21px;
  }
  .r5{
    background-color: rgba(93, 164, 223,0.3);
    height:15px;
    width:40px;
    border-radius:7.5px;
    position: relative;
    bottom:50px;
    left:70px;
  }
  .r6{
    background-color: rgba(93, 164, 223,0.3);
    height:20px;
    width:60px;
    border-radius:11px;
    position: relative;
    bottom:25px;
    left:10px;
  }
  .r7{
    background-color: rgba(255,255,255,0.4);
    height:15px;
    width:45px;
    border-radius:7.5px;
    position: relative;
    top:40px;
    left:111px;
  }
  .r8{
    background-color: rgba(255,255,255,0.4);
    height:12px;
    width:30px;
    border-radius:7.5px;
    position: relative;
    top:7px;
    left:32px;
  }
  .shad{
    background-color: transparent;
    box-shadow: 15px 15px rgba(67, 48, 121, 0.3);
    position: relative;
    height:200px;
    width:200px;
    border-radius: 50%;
    bottom: 176px;
    right:16px;
  }
.section-background{
display: flex;
justify-content: flex-end;
align-items: flex-end;
height: 20em;
background: linear-gradient(360deg, hsla(199, 74%, 44%, 0.65) 0%, hsla(180, 28%, 28%, 0.65) 100%), url(./images/pexels-david-bartus-963278.jpg);
background-size: 100% 100vh;
background-repeat: no-repeat;
}
.profile-photo {
margin-top: 50px;
width: 157px;
height: 200px;
border-radius: 20px;
border: 5px solid var(--green);
transition: all .5s;
}
.subtitle{
color: black;
padding: 10px;
background-color:var(--green);
font-size: 1.5em;
margin: 1em;
color: var(--text);
}
.about-me{
display: flex;
margin: 1.5em 0em 0em 8em;
color: var(--text);
}
.paragraphs{
display: flex;
flex-direction: column;
border-left: 2px solid #335b5ba6;
color: var(--text);

}
.about-p{
padding: 10px 5px;
margin-left: 20px;
max-width: 950px;
} 
.work{
    display: flex;
    margin: 1.5em 0em 0em 10.81em;
    color: var(--text);
    }

.projects{   
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    width: 700px;
    border-left: 2px solid #335b5ba6;
    padding-left: 20px;
}

div.div-wave1 {
position: relative;
width: 600px;
height: 200px;
} 
  
div.div-wave2 {
position: absolute;
top: 107px;
left: 0;
width: 200px;
height: 34px;
background-color: var(--blue);
}
.figcaption-1{
text-align: center;
font-size: 28px;
}
div.div-led1 {
position: relative;
width: 300px;
height: 200px;
} 
div.div-led2 {
position: absolute;
top: 107px;
left: 0;
width: 200px;
height: 34px;
background-color: var(--blue);
}
div.div-calculator1 {
position: relative;
width: 300px;
height: 200px;
} 
div.div-calculator2 {
position: absolute;
top: 107px;
left: 0;
width: 200px;
height: 34px;
background-color: var(--blue);
}
div.div-puzzel1 {
position: relative;
width: 300px;
height: 200px;
} 
div.div-puzzel2 {
position: absolute;
top: 107px;
left: 0;
width: 200px;
height: 34px;
background-color: var(--blue);
}
div.div-trail1 {
position: relative;
width: 300px;
height: 200px;
} 
div.div-trail2 {
position: absolute;
top: 107px;
left: 0;
width: 200px;
height: 34px;
background-color: var(--blue);
}

.wave{
height: 200px;
width: 606px;
flex: 0 0 90%;
border: 2px solid var(--blue);
border-bottom: 0px;
 } 

.led{ 
height: 200px;
width: 300px;
flex: 0 0 45%;
border: 2px solid var(--blue);
border-bottom: 0px; 
}

.calculator{
height: 200px;
width: 300px;
flex: 0 0 45%;
border: 2px solid var(--blue);
border-left: 0px;
}
 
.puzzel{
height: 200px;
width: 300px;
flex: 0 0 45%;
border: 2px solid var(--blue);
border-right: 0px;
}
.trail{
height: 200px;
width: 300px;
flex: 0 0 45%;
border: 2px solid var(--blue);
border-top: 0px;
 } 
.contact-me{
display: flex;
color: var(--text);
margin: 1.5em 0em 0em 6.6em;
}

.contacts{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
border-left: 2px solid #335b5ba6;
margin-left: 0.8em;

}
.contact-nav{
height: 48px;
width: 100%;
height: 48px;
}
.a2{
    padding: 0px;
    color: var(--blue);   
 }
 li.nav2{
    padding: 0px;
    display: flex;
    color: var(--blue);
    list-style: none;
    }
/* @media screen and (max-width: 780px ){

/* .nav > a{
display: flex;
color: var(--blue);
} */
/* .about-me{
    display: flex;
    margin: 1.5em 0em 0em 1em;
    color: var(--text);
}
.about-p{
    display: flex;
    color: var(--text);
    margin: 1.5em 0em 0em 0em;
}
.work{
    display: flex;
    margin: 1.5em 0em 0em 2em;
    color: var(--text);
}
.contact-me{
    display: flex;
    color: var(--text);
    margin: 1.5em 0em 0em 0em;
} */
/* }

@media screen and (max-width: 390px ){

    header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(84, 84, 84);
    border: .5em;
    padding: .5em 0em;
} */
/* nav > ul.ul-nav{
    display: flex;
    justify-content: center;
} */
/* h1 {
background-color: var(--blue);
font-size: 2.5em;
margin: 0px;
color: var(--text);
} */
/* .wave{
    height: 200px;
    width: 291px;
    flex: 0 0 90%;
    border: 2px solid var(--blue);
    border-bottom: 0px;
}
div.div-wave1{
position: relative;
/* width: 300px; */
/* height: 200px;
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    width: 300px;
    border-left: 2px solid #335b5ba6;
    padding-left: 6px;
}
.work{
    display: flex;
    margin: 1.5em 0em 0em 1.2em;
    color: var(--text);
} */
/* .led{ 
    height: 200px;
    width: 291px;
    flex: 0 0 45%;
    border: 2px solid var(--blue);
    border-bottom: 0px; 
    }
    
    .calculator{
    height: 200px;
    width: 291px;
    flex: 0 0 45%;
    border: 2px solid var(--blue);
    border-left: 0px;
    }
      */
/* .puzzel{
height: 200px;
width: 291px;
flex: 0 0 45%;
border: 2px solid var(--blue);
border-right: 0px;
}
.trail{
height: 200px;
width: 291px;
flex: 0 0 45%;
border: 2px solid var(--blue);
border-top: 0px;
 } 

li.nav2{
padding: 0px;
display: flex;
color: var(--blue);
}
.a2{
padding: 0px;
color: var(--blue);
}

} */